.UpperSection {
    width: 90%;
    height: 15vh;
    margin: auto;
    border:  1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 5vh;
    margin-top: 1.5vh;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.Buttons {
    /*border:  1px solid black;*/
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    margin-left: 1.5%;
}

.SearchSection {
    /*border:  1px solid black;*/
    width: 35%;
    height: 80%;
    display: flex;
    align-items: center;
    margin-right: 3%;
}

.Search {
    color: #000040;
    width: 100%;
    height: 100%;
}

.SearchInput {
    color: #000040;
    width: 70%;
    /*height: 50%;*/
    font-style: italic;
    font-size: 2em;
    outline: none;
    border-color: #000040;
    border-radius: 5px;
}

.Btn {
    width: 20%;
    height: 100%;
    /*border: 1px solid red;*/
    /*margin-right: 7%;*/
}

.Settings {
    height: 100%;
    width: 35%;
    text-align: center;
}

.TypeConfig {
    width: 50%;
    height: 100%;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.TextSetting {
    font-style: italic;
    font-weight: bold;
    color: #000040;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

.Normal {
    color: #074201;
}

.Important {
    color: brown;
}

.Clickable {
    transition: transform .3s;
}

.Clickable:hover {
    cursor: pointer;
    color: orange;
    transform: scale(1.05);
}

.SearchBtn {
    width: 70px;
    height: 60%;
    /*border: 1px solid black;*/
    margin-right: 5%;
}

.TextButtons {
    width: 100%;
    height: 90%;
    border: 1px solid red;
    display: flex;
}

.BtnIcon {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;

}

.BtnIcon:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.Create {
    color: #074201;
}

.All {
    color: #000040;
}

.Completed {
    color: #074201;
}

.Active {
    color: brown;
}
